In [109]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd
import datetime
%config IPCompleter.greedy=True

In [127]:
fraudDataset = pd.read_excel("Fraud+Analytics+Dataset.xlsx") #Loading the Dataset

In [150]:
fraudDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_date     151112 non-null  datetime64[ns]
 2   purchase date   151112 non-null  datetime64[ns]
 3   purchase_time   151112 non-null  object
 4   purchase_value  151112 non-null  int64
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   is_fraud        151112 non-null  int64
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 11.5+ MB

# Hypothesis 1

In [129]:
q2Hypotheis1CopyData = fraudDataset.copy()

In [130]:
allFraud = q2Hypotheis1CopyData.loc[q2Hypotheis1CopyData.is_fraud == 1]

In [131]:
allFraud

,user_id,signup_date,purchase date,purchase_time,purchase_value,source,browser,sex,age,is_fraud
2,1359,2015-01-01 18:52:44,2015-01-01,18:52:45,15,SEO,Opera,M,53,1
24,171711,2015-01-11 01:51:15,2015-01-11,01:51:16,52,Direct,IE,F,35,1
25,59780,2015-01-04 22:32:33,2015-01-16,01:13:43,31,SEO,FireFox,M,36,1
29,151705,2015-01-07 03:44:53,2015-01-07,03:44:54,48,SEO,Chrome,F,27,1
59,345865,2015-02-01 05:59:23,2015-02-20,08:09:10,36,SEO,IE,M,30,1
...,...,...,...,...,...,...,...,...,...,...
151082,305464,2015-01-07 09:06:55,2015-01-07,09:06:56,90,SEO,IE,M,34,1
151099,115473,2015-01-01 07:26:14,2015-01-01,07:26:15,61,Direct,IE,M,24,1
151103,5557,2015-01-04 23:03:04,2015-01-04,23:03:05,27,Direct,Chrome,M,39,1
151104,252360,2015-01-04 09:40:44,2015-01-04,09:40:45,20,Ads,IE,F,39,1
151107,345170,2015-01-27 03:03:34,2015-03-29,00:30:47,43,SEO,Chrome,M,28,1

In [132]:
allFraud['signup_onlydate'] = pd.to_datetime(allFraud['signup_date'].dt.date)

C:\Users\My-PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [133]:
allFraud['signup_Equals_PurchaseDate']=np.where(allFraud['signup_onlydate'] == allFraud['purchase date'],"Yes","No")

C:\Users\My-PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [134]:
allFraud

,user_id,signup_date,purchase date,purchase_time,purchase_value,source,browser,sex,age,is_fraud,signup_onlydate,signup_Equals_PurchaseDate
2,1359,2015-01-01 18:52:44,2015-01-01,18:52:45,15,SEO,Opera,M,53,1,2015-01-01,Yes
24,171711,2015-01-11 01:51:15,2015-01-11,01:51:16,52,Direct,IE,F,35,1,2015-01-11,Yes
25,59780,2015-01-04 22:32:33,2015-01-16,01:13:43,31,SEO,FireFox,M,36,1,2015-01-04,No
29,151705,2015-01-07 03:44:53,2015-01-07,03:44:54,48,SEO,Chrome,F,27,1,2015-01-07,Yes
59,345865,2015-02-01 05:59:23,2015-02-20,08:09:10,36,SEO,IE,M,30,1,2015-02-01,No
...,...,...,...,...,...,...,...,...,...,...,...,...
151082,305464,2015-01-07 09:06:55,2015-01-07,09:06:56,90,SEO,IE,M,34,1,2015-01-07,Yes
151099,115473,2015-01-01 07:26:14,2015-01-01,07:26:15,61,Direct,IE,M,24,1,2015-01-01,Yes
151103,5557,2015-01-04 23:03:04,2015-01-04,23:03:05,27,Direct,Chrome,M,39,1,2015-01-04,Yes
151104,252360,2015-01-04 09:40:44,2015-01-04,09:40:45,20,Ads,IE,F,39,1,2015-01-04,Yes
151107,345170,2015-01-27 03:03:34,2015-03-29,00:30:47,43,SEO,Chrome,M,28,1,2015-01-27,No

In [135]:
allFraud['signup_Equals_PurchaseDate'].value_counts()

Yes    7630
No     6521
Name: signup_Equals_PurchaseDate, dtype: int64

In [136]:
round((allFraud['signup_Equals_PurchaseDate'].value_counts(normalize=True))*100)

Yes    54.0
No     46.0
Name: signup_Equals_PurchaseDate, dtype: float64

In [137]:
# We can see that there are 14151 records which are marked as Fraud in the dataset,
# Also 7630 Fraudalent transactions happened where the SignUp Date was same as Purchase Date
# We can clearly see that 54% fraudalent transction happened when the SignUpDate was same as Purchase Date therefore the Hypothesis " Transactions that occur within the same date as sign-up have a higher probability of being fraudulent in nature." is TRUE

# Hypothesis 2

In [138]:
q2Hypotheis2CopyData = fraudDataset.copy()

In [139]:
allFraudQ2 = q2Hypotheis2CopyData.loc[q2Hypotheis2CopyData.is_fraud == 1]

In [140]:
allFraudQ2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14151 entries, 2 to 151107
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   user_id         14151 non-null  int64
 1   signup_date     14151 non-null  datetime64[ns]
 2   purchase date   14151 non-null  datetime64[ns]
 3   purchase_time   14151 non-null  object
 4   purchase_value  14151 non-null  int64
 5   source          14151 non-null  object
 6   browser         14151 non-null  object
 7   sex             14151 non-null  object
 8   age             14151 non-null  int64
 9   is_fraud        14151 non-null  int64
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 1.2+ MB

In [141]:
allFraudQ2['purchase_time']

2         18:52:45
24        01:51:16
25        01:13:43
29        03:44:54
59        08:09:10
            ...
151082    09:06:56
151099    07:26:15
151103    23:03:05
151104    09:40:45
151107    00:30:47
Name: purchase_time, Length: 14151, dtype: object

In [142]:
from datetime import time
starttime = datetime.time(0,0,0)
endtime = datetime.time(3,0,0)

In [143]:
allFraudQ2['PurchaseBetweenMidnightto3AM'] = np.where(((allFraudQ2['purchase_time'] > starttime) & (allFraudQ2['purchase_time'] < endtime)), "Yes", "No")

C:\Users\My-PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [144]:
allFraudQ2

,user_id,signup_date,purchase date,purchase_time,purchase_value,source,browser,sex,age,is_fraud,PurchaseBetweenMidnightto3AM
2,1359,2015-01-01 18:52:44,2015-01-01,18:52:45,15,SEO,Opera,M,53,1,No
24,171711,2015-01-11 01:51:15,2015-01-11,01:51:16,52,Direct,IE,F,35,1,Yes
25,59780,2015-01-04 22:32:33,2015-01-16,01:13:43,31,SEO,FireFox,M,36,1,Yes
29,151705,2015-01-07 03:44:53,2015-01-07,03:44:54,48,SEO,Chrome,F,27,1,No
59,345865,2015-02-01 05:59:23,2015-02-20,08:09:10,36,SEO,IE,M,30,1,No
...,...,...,...,...,...,...,...,...,...,...,...
151082,305464,2015-01-07 09:06:55,2015-01-07,09:06:56,90,SEO,IE,M,34,1,No
151099,115473,2015-01-01 07:26:14,2015-01-01,07:26:15,61,Direct,IE,M,24,1,No
151103,5557,2015-01-04 23:03:04,2015-01-04,23:03:05,27,Direct,Chrome,M,39,1,No
151104,252360,2015-01-04 09:40:44,2015-01-04,09:40:45,20,Ads,IE,F,39,1,No
151107,345170,2015-01-27 03:03:34,2015-03-29,00:30:47,43,SEO,Chrome,M,28,1,Yes

In [146]:
allFraudQ2.to_excel("RS2.xlsx")

In [148]:
allFraudQ2['PurchaseBetweenMidnightto3AM'].value_counts()

No     12455
Yes     1696
Name: PurchaseBetweenMidnightto3AM, dtype: int64

In [149]:
round((allFraudQ2['PurchaseBetweenMidnightto3AM'].value_counts(normalize=True))*100)

No     88.0
Yes    12.0
Name: PurchaseBetweenMidnightto3AM, dtype: float64

In [ ]:
# We can see that there are 14151 records which are marked as Fraud in the dataset,
# Also only 1696 Fraudalent transactions happened between 12:00:00 AM (Midnight) and 3:00:00AM.
# We can clearly see that only 12% fraudalent transction happened between 12:00:00 AM (Midnight) and 3:00:00AM therefore the Hypothesis "Transactions that occur after midnight and before 3 am have a higher likelihood of being fraudulent in nature" is FALSE