In [7]:
# Import the numpy and pandas packages

import numpy as np
import pandas as pd

In [8]:
fraudDataset = pd.read_excel("Fraud+Analytics+Dataset.xlsx") #Loading the Dataset

In [53]:
fraudDataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151112 entries, 0 to 151111
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   user_id         151112 non-null  int64
 1   signup_date     151112 non-null  datetime64[ns]
 2   purchase date   151112 non-null  datetime64[ns]
 3   purchase_time   151112 non-null  object
 4   purchase_value  151112 non-null  int64
 5   source          151112 non-null  object
 6   browser         151112 non-null  object
 7   sex             151112 non-null  object
 8   age             151112 non-null  int64
 9   is_fraud        151112 non-null  int64
dtypes: datetime64[ns](2), int64(4), object(4)
memory usage: 11.5+ MB

In [54]:
q2Hypotheis1CopyData = fraudDataset.copy()

In [55]:
allFraud = q2Hypotheis1CopyData.loc[q2Hypotheis1CopyData.is_fraud == 1]

In [56]:
allFraud

,user_id,signup_date,purchase date,purchase_time,purchase_value,source,browser,sex,age,is_fraud
2,1359,2015-01-01 18:52:44,2015-01-01,18:52:45,15,SEO,Opera,M,53,1
24,171711,2015-01-11 01:51:15,2015-01-11,01:51:16,52,Direct,IE,F,35,1
25,59780,2015-01-04 22:32:33,2015-01-16,01:13:43,31,SEO,FireFox,M,36,1
29,151705,2015-01-07 03:44:53,2015-01-07,03:44:54,48,SEO,Chrome,F,27,1
59,345865,2015-02-01 05:59:23,2015-02-20,08:09:10,36,SEO,IE,M,30,1
...,...,...,...,...,...,...,...,...,...,...
151082,305464,2015-01-07 09:06:55,2015-01-07,09:06:56,90,SEO,IE,M,34,1
151099,115473,2015-01-01 07:26:14,2015-01-01,07:26:15,61,Direct,IE,M,24,1
151103,5557,2015-01-04 23:03:04,2015-01-04,23:03:05,27,Direct,Chrome,M,39,1
151104,252360,2015-01-04 09:40:44,2015-01-04,09:40:45,20,Ads,IE,F,39,1
151107,345170,2015-01-27 03:03:34,2015-03-29,00:30:47,43,SEO,Chrome,M,28,1

In [74]:
allFraud['is_fraud'].shape

(14151,)

In [58]:
allFraud['signup_onlydate'] = pd.to_datetime(allFraud['signup_date'].dt.date)

C:\Users\My-PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [75]:
sameDateAsPurchaseDateDf = allFraud.loc[allFraud['signup_onlydate'] == allFraud['purchase date']]

In [76]:
sameDateAsPurchaseDateDf

,user_id,signup_date,purchase date,purchase_time,purchase_value,source,browser,sex,age,is_fraud,signup_onlydate
2,1359,2015-01-01 18:52:44,2015-01-01,18:52:45,15,SEO,Opera,M,53,1,2015-01-01
24,171711,2015-01-11 01:51:15,2015-01-11,01:51:16,52,Direct,IE,F,35,1,2015-01-11
29,151705,2015-01-07 03:44:53,2015-01-07,03:44:54,48,SEO,Chrome,F,27,1,2015-01-07
64,181004,2015-01-07 17:45:16,2015-01-07,17:45:17,10,Ads,FireFox,M,36,1,2015-01-07
77,392706,2015-01-07 08:15:53,2015-01-07,08:15:54,65,SEO,Opera,F,30,1,2015-01-07
...,...,...,...,...,...,...,...,...,...,...,...
151036,330098,2015-01-03 12:52:15,2015-01-03,12:52:16,38,Ads,Chrome,M,27,1,2015-01-03
151082,305464,2015-01-07 09:06:55,2015-01-07,09:06:56,90,SEO,IE,M,34,1,2015-01-07
151099,115473,2015-01-01 07:26:14,2015-01-01,07:26:15,61,Direct,IE,M,24,1,2015-01-01
151103,5557,2015-01-04 23:03:04,2015-01-04,23:03:05,27,Direct,Chrome,M,39,1,2015-01-04
151104,252360,2015-01-04 09:40:44,2015-01-04,09:40:45,20,Ads,IE,F,39,1,2015-01-04

In [105]:
TotalCountOfRecordsForSameSignUpDateAsPurchaseDate = sameDateAsPurchaseDateDf['is_fraud'].shape[0]
TotalCountOfRecordsForSameSignUpDateAsPurchaseDate

7630

In [106]:
TotalCountOfFraudalentRecords = allFraud['is_fraud'].shape[0]
TotalCountOfFraudalentRecords

14151

In [104]:
PercentageOfSameSignupVsPurchase = round(TotalCountOfRecordsForSameSignUpDateAsPurchaseDate*100/TotalCountOfFraudalentRecords)
PercentageOfSameSignupVsPurchase

54

In [81]:
# We can see that there are 14151 records which are marked as Fraud in the dataset,
# Also 7630 transactions happened where the SignUp Date was same as Purchase Date
# We can clearly see that 54% fraudalent transction happened when the SignUpDate was same as Purchase Date therefore the Hypothesis " Transactions that occur within the same date as sign-up have a higher probability of being fraudulent in nature." is TRUE

In [61]:
####################################################################################################################